<!DOCTYPE html>
<html>

<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <!-- Site Properties -->
  <title>一起来钓鱼</title>
  <link rel="icon" href="/images/fish_ico_red.ico" />

  <link rel="stylesheet" type="text/css" href="/dist/semantic.css" />
  <style type="text/css">
    .ui.bar.segment {
      background-color: lightskyblue;
    }

    .ui.label {
      font-size: large;
    }

    .ui.secondary.menu{
      margin-left: 50px;
    }

    .ui.secondary.menu .front.item {
      margin-left: 40px;
    }

    .ui.basic.img.segment {
      height: 860px;
      background-image: url(/images/island_1.jpg);
      background-position-x: center;
      background-position-y: center;
      background-repeat: no-repeat;
    }

    .ui.basic.img.segment .theme {
      margin-left: 180px;
      margin-top: 130px;
      font-size: 300%;
    }

    .ui.basic.img.segment .market {
      margin-top: 200px;
      margin-left: 1100px;
    }

    .ui.basic.img.segment .myFish {
      margin-top: 1px;
      margin-left: 300px;
    }

    .ui.basic.img.segment .fishPool {
      margin-top: 90px;
      margin-left: 600px;
    }

    body {
      background-color: #eeeeee;
    }
  </style>
</head>

<body>
  <div class="ui segments">
    <div class="ui bar segment">
      <div class="ui secondary menu">
        <a class="header front down item">
          <div class="ui red horizontal label">
            主页
          </div>
        </a>
        <a class="front down item" onclick="window.location.href='/fishPool'">
          <div class="ui green horizontal label">
            鱼塘
          </div>
        </a>
        <a class="front down item" onclick="window.location.href='/market'">
          <div class="ui green horizontal label">
            市场
          </div>
        </a>
        <a class="front down item" onclick="window.location.href='/myFish'">
          <div class="ui green horizontal label">
            仓库
          </div>
        </a>
        <div class="right menu">
          <div class="item">
            余额：<b><%= myBalance %></b> &nbsp ether
          </div>
          <div class="down item">
            <div class="ui primary">
              当前用户：
              <div id="account" style="display: none;"><%= account %></div>
              <select class="ui dropdown" id="select_account">
                <% if(parseInt(account)==1){ %>
                <option value="1" selected="selected">1</option>
                <% }else{ %>
                <option value="1">1</option>
                <% } %>

                <% if(parseInt(account)==2){ %>
                <option value="2" selected="selected">2</option>
                <% }else{ %>
                <option value="2">2</option>
                <% } %>

                <% if(parseInt(account)==3){ %>
                <option value="3" selected="selected">3</option>
                <% }else{ %>
                <option value="3">3</option>
                <% } %>

                <% if(parseInt(account)==4){ %>
                <option value="4" selected="selected">4</option>
                <% }else{ %>
                <option value="4">4</option>
                <% } %>

                <% if(parseInt(account)==5){ %>
                <option value="5" selected="selected">5</option>
                <% }else{ %>
                <option value="5">5</option>
                <% } %>

                <% if(parseInt(account)==6){ %>
                <option value="6" selected="selected">6</option>
                <% }else{ %>
                <option value="6">6</option>
                <% } %>

                <% if(parseInt(account)==7){ %>
                <option value="7" selected="selected">7</option>
                <% }else{ %>
                <option value="7">7</option>
                <% } %>

                <% if(parseInt(account)==8){ %>
                <option value="8" selected="selected">8</option>
                <% }else{ %>
                <option value="8">8</option>
                <% } %>

                <% if(parseInt(account)==9){ %>
                <option value="9" selected="selected">9</option>
                <% }else{ %>
                <option value="9">9</option>
                <% } %>
               
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui basic img segment">
      <div class="theme">
        <b>一起来钓鱼</b>
      </div>
      <div class="market">
        <button class="circular massive ui red button" onclick="window.location.href='/market'">
          市场
        </button>
      </div>
      <div class="myFish">
        <button class="circular massive ui red button" onclick="window.location.href='/myFish'">
          仓库
        </button>
      </div>
      <div class="fishPool">
        <button class="circular massive ui red button" onclick="window.location.href='/fishPool'">
          鱼塘
        </button>
      </div>
    </div>
  </div>

</body>

<script src="/javascripts/jquery.js"></script>
<script src="/dist/semantic.min.js"></script>
<script>

  $('.ui.dropdown')
    .dropdown()
    ;
  $('#select_account').change(function(){    
    var s_account = $('#select_account').val();
    $.ajax({
      dataType: "json",
      type: "post",
      url: "./checkAccount",
      traditional: true,
      data: {
        account:s_account
      },
      success: (data) => {
        if (data.status) {
          alert("切换成功！");
          window.location.reload();
        } else {
          alert("切换失败！");
        }
      },
      error: (err) => {
        $(".ui.error.message").text("与服务器连接异常，请稍后再试!").show();
      }
    });
  })
</script>

</html>